
@{
    ViewData["Title"] = "Success";
}

@{
        string user;
        
        
        if(Context.Session.GetString("UserName")!=null)
        {
            user = Context.Session.GetString("UserName");
        }
        else
        {
            user = string.Empty;
        }
}
<div class="text-center">
    <h1 class="display-4">Thankyou @user</h1>
     <h1 class="display-4">Your Order is Placed</h1>
</div>
<div>


 <a asp-controller="Product" asp-action="Index">Back to List</a>
 </div>



